.contact {
  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1.5rem;

    @include mq($md) {
      grid-template-columns: 1fr;
    }
  }

  &__info {
    width: 100%;
    display: grid;
    grid-gap: 1rem;

    &-item {
      width: 100%;
      background-color: $contactBg;
      border: $contactBorder;
      padding: 20px #{$iconContact * 1.5} #{$iconContact/2} #{2 * $iconContact +
        $iconContact / 5};
      position: relative;
      @include flex(center, flex-start, column);

      > .icon {
        position: absolute;
        left: 15px;
        top: 20px;
      }
    }

    &-heading {
      font-weight: 600;
      font-size: 1.2rem;
      margin: 0 0 10px;
    }

    &-anchor {
      padding: 6px 0;
      position: relative;
      color: #888;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 0.1px;
      text-decoration: none;

      &::after {
        @include pseudo(block, absolute);

        height: 2px;
        width: 0%;
        background-color: $secondaryColor;
        transition: $transition;
      }

      &:hover,
      &:focus {
        color: black;
        outline: none;

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__form-container {
    width: 100%;
    padding: 20px;
    background-color: $contactBg;
    border: $contactBorder;
  }

  &__heading {
    width: 100%;
    margin: 0 0 20px;
    font-size: 1.2rem;
  }

  &__form {
    height: calc(100% - 42px);
    @include flex(space-between, flex-start);
    flex-wrap: wrap;
  }

  &__input-container {
    width: 50%;

    @include mq($sm) {
      width: 100%;
      padding-top: 16px;
    }

    &:first-child {
      padding-right: 20px;

      @include mq($sm) {
        padding: 0;
      }
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: $contactBorder;

    &:focus {
      outline: none;

      + .contact__underscore {
        width: 100%;
      }
    }
  }

  &__textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: $contactBorder;
    resize: none;

    @include mq($md) {
      min-height: 150px;
    }

    &-container {
      width: 100%;
      height: 60%;
      margin: 15px 0;
    }

    + .contact__underscore {
      top: #{-10px + $underscoreHeight};
    }

    &:focus {
      outline: none;

      + .contact__underscore {
        width: 100%;
      }
    }
  }

  &__underscore {
    width: 0%;
    height: $underscoreHeight;
    background-color: $secondaryColor;
    position: relative;
    top: #{0px - $underscoreHeight};
    transition: all 0.3s ease-in-out;
  }
}
