* {
  box-sizing: border-box;
  font-family: $mainFont;
}

hr {
  height: 1px;
  border: none;
  border-top: solid $secondaryColor 2px;
}

.icon {
  width: $iconSize;
  height: $iconSize;
  fill: white;

  &--theme {
    fill: $secondaryColor;
  }

  &--contact {
    width: $iconContact;
    height: $iconContact;
  }

  &--users {
    width: 35px;
    stroke: $secondaryColor;
    stroke-width: 2px;
  }

  &--testimonials {
    width: $iconTestimonials;
    height: $iconTestimonials;
  }

  &--skills {
    width: $skillsIcons;
    height: $skillsIcons;

    @include mq(400px) {
      width: $skillsIcons - ($skillsIcons * 0.2);
      height: $skillsIcons - ($skillsIcons * 0.2);
    }
  }
}

.container {
  margin-left: $navWidth;

  @include mq(1450px) {
    margin-left: 270px;
  }

  @include mq(1299px) {
    margin-left: 0;
  }
}

.page {
  @include flex(center, center, column);

  &__section {
    width: 100%;
    max-width: 1700px;
    padding: 90px 7%;

    @include mq(1500px) {
      padding: 50px 7%;
    }

    @include mq($lg) {
      padding: 50px 5%;
    }
  }
}

.title {
  width: 100%;
  margin-bottom: 80px;
  position: relative;
  $parent: &;
  @include flex(flex-start);

  @include mq(850px) {
    margin-bottom: 60px;
    font-size: 0.85rem;
  }

  @include mq($sm) {
    font-size: 2.7vw;
  }

  &::before {
    @include pseudo(block, absolute);
    background-color: $secondaryColor;
    width: 7px;
    height: 100%;
    top: 4%;

    @include mq($md) {
      width: 7px;
    }
  }

  &__holder {
    height: 100%;
    margin-left: 20px;
    @include flex(space-between, flex-start, column);
  }

  &__content {
    margin: 0;
    font-size: $sectionTitle;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 0;
    font-size: $sectionSubtitle;

    @include mq($sm) {
      font-size: $sectionSubtitle * 1.25;
    }
  }

  &--project {
    margin-bottom: 40px;
    font-size: 0.5rem;

    &::before {
      width: 5px;
    }
  }

  &--error404 {
    #{$parent}__holder {
      &--heading {
        font-size: 4rem;
      }
    }
  }
}

.btn {
  height: 46px;
  display: inline-block;
  margin: 5px;
  padding: 0 26px;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 46px;
  border: none;
  border-radius: 3px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in-out;

  &--theme {
    background-color: $secondaryColor;
    color: white;
    outline: none;

    &:hover,
    &:focus {
      background-color: darken($secondaryColor, 15%);
    }
  }

  &--medium {
    height: 44px;
    padding: 0 20px;
    font-size: 14px;
  }

  &--half {
    width: 45%;
    padding: 0;
    text-align: center;
  }
}
