.intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/background.jpg") no-repeat center/cover;
  @include flex();

  &::before {
    @extend %bg-overlay;
  }

  &__container {
    z-index: 1;
    @include flex(center, center, column);
  }

  &__photo {
    width: $introImg;
    height: $introImg;
    display: block;
    border-radius: 50%;
    border: #8791a2 solid 8px;
  }

  &__name {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0 0;
    color: $fontColor;
  }

  &--surname {
    color: $secondaryColor;
  }

  &__subtitle {
    text-align: center;
    font-size: 1.5rem;
    color: $fontColor;
    margin-top: 10px;
  }

  &--bold {
    font-weight: 600;
  }

  &__arrow {
    position: absolute;
    bottom: 40px;
    color: $fontColor;
    background: transparent;
    border: none;
    font-size: 2em;
  }
}
