.navigation {
  position: fixed;
  width: $navWidth;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: $mainColor;
  color: $fontColor;
  overflow-y: overlay;

  &__logo {
    height: $logoHeight;
    border-bottom: #{lighten($mainColor, 10)} solid 1px;
    @include flex(center, center, column);

    &-image {
      width: 70%;
      display: block;

      @include mq(1299px) {
        width: auto;
        height: $navHeight1299 - 30px;
        margin-left: 20px;
      }
    }

    &-desc {
      margin-bottom: 0;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.1rem;

      @include mq(1299px) {
        display: none;
      }
    }

    @include mq(1299px) {
      height: auto;
      border: none;
    }
  }

  &__container {
    height: calc(100% - #{$logoHeight});
    @include flex(space-between, center, column);

    @include mq(1299px) {
      display: none;
    }
  }

  &__nav {
    width: 100%;
    @include flex();
  }

  &__list {
    list-style-type: none;
    width: 80%;
    padding: 0;
  }

  &__item {
    padding: 5px 0;
  }

  &__link {
    @include flex(flex-start, center);
    width: 100%;
    padding: 5px;
    color: $fontColor;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;

    &:after {
      @include pseudo();
      width: 0px;
      transition: all 0.3s ease;
      height: 5px;
      margin-left: 15px;
      background-color: $secondaryColor;
    }

    &:hover,
    &:focus {
      color: $secondaryColor;
      outline: none;

      &:after {
        width: 40px;
      }
    }
  }

  &-icon {
    width: 80%;
    margin-bottom: 20px;

    &__list {
      @include flex(space-around);
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &__link {
      padding: 10px;
      color: $fontColor;
      outline: none;

      .icon {
        transition: $portfolioTransition;
      }

      &:hover,
      &:focus {
        .icon {
          fill: $secondaryColor;
        }
      }
    }
  }

  &__hamburger {
    width: $navHeight1299 - 30px;
    height: $navHeight1299 - 30px;
    margin-right: 20px;
    padding: 0;
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    $parent: &;

    &-inner,
    &-inner::before,
    &-inner::after {
      width: 100%;
      height: $hamburgerItemHeight;
      background-color: white;
      border-radius: $hamburgerItemHeight / 2;

      #{$parent}:hover &,
      #{$parent}:focus & {
        background-color: $secondaryColor;
      }
    }

    &-inner {
      position: relative;

      &::before,
      &::after {
        @include pseudo(block, absolute);
      }

      &::before {
        top: -10px;
      }

      &::after {
        bottom: -10px;
      }
    }

    @include mq(1299px) {
      display: block;
    }
  }

  @include mq(1449px) {
    width: $navWidth1449;
  }

  @include mq(1299px) {
    width: $navWidth1299;
    height: $navHeight1299;
    position: fixed;
    z-index: 99;

    @include flex(space-between, center);
  }
}
