.portfolio {

  &__container {
    display: grid;
    grid-column: center-start/ center-end;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 3rem;
  }

  &__feature-box {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__figure {
    width: 100%;
    margin: 0;
    position: relative;
    border: $contactBorder;
    box-shadow: $boxShadow;

    &:hover {
      .portfolio__img {
        transform: scale(1.1) rotate(3deg);
      }

      .portfolio__underscore {
        width: 20%;
      }
    }
  }

  &__img-container {
    overflow: hidden;
  }

  &__img {
    width: 100%;
    display: block;
    transition: $portfolioTransition;
  }

  &__figcap {
    width: 100%;
  }

  &__title {
    margin: 0;
    padding-top: $figcapSpacing;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
  }

  &__underscore {
    width: 15%;
    margin: 1rem auto 0;
    padding-bottom: $figcapSpacing;
    border-top-width: 3px;
    transition: $portfolioTransition;
  }
}