.portfolio {

  &__container {
    display: grid;
    grid-column: center-start/ center-end;
    grid-template-columns: repeat(3, minmax(25rem, 1fr));
    grid-gap: 5rem;
  }

  &__feature-box {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: $contactBg;
    border: $contactBorder;
  }

  &__figure {
    width: 100%;
    margin: 0;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__figcap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);

    ul {
      width: max-content;
      padding: 0;
      margin: 0;
      position: absolute;
      right: 20px;
      bottom: 20px;
      color: white;
      text-align: right;
      text-transform: uppercase;
      border-right: $secondaryColor solid 5px;
      list-style: none;

      li {
        margin-right: 10px;
      }
    }
  }

  &__heading {
    width: max-content;
    margin: 15px;
    padding: 15px;
    background-color: rgba(100%, 100%, 100%, .9);
    font-size: .9rem;
    text-transform: uppercase;
  }

  &__title {
    margin: 20px 0 0;
    padding-bottom: 5px;
    font-size: 1.2rem;
    border-bottom: $secondaryColor solid 2px;
  }

  &__description {
    margin-bottom: 50px;
    font-size: 1.1rem;
    letter-spacing: .1px;
  }

  &__btns {
    margin-top: auto;
  }
}