.project {
  min-height: calc(100vh - 78px);

  @include mq($xxl) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include mq($lg) {
    margin-top: $navbarHeight;
  }

  @include mq($sm) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &__wrap {
    display: flex;

    @include mq($xl) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__column {
    padding: 0 1em;
    @include flex(flex-start, flex-start, column);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @include mq($xl) {
      padding: 0;
    }

    &--desc {
      max-width: $descColumnWidth;
      flex: 0 0 $descColumnWidth;

      @include mq($xl) {
        width: 100%;
        max-width: unset;
        order: 1;
      }
    }

    &--details {
      max-width: $detailsColumnWidth;
      flex: 0 0 $detailsColumnWidth;

      @include mq($xl) {
        width: 100%;
        max-width: unset;
      }
    }
  }

  &__sticky {
    position: sticky;
    top: 3em;

    @include mq($xl) {
      width: 100%;
      display: flex;
    }

    @include mq($sm) {
      flex-direction: column;
    }
  }
}

.technologies {
  width: 100%;

  @include mq($xl) {
    flex-grow: 1;
  }

  @include mq($sm) {
    margin-bottom: 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include flex(flex-start);
    flex-wrap: wrap;
  }

  &__item {
    margin: 4px;
    padding: 2px 7px;
    border: solid $grey 1px;
    background-color: $contactBg;
    color: #555;
    font-size: 1.1em;
  }
}

.details {
  width: 100%;
  margin-bottom: 30px;
  display: block;

  @include mq($xl) {
    flex-grow: 1;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0.25em 0;
    font-weight: 500;
    @include flex(flex-start);

    &-content {
      margin: 0 0 0 0.25em;
      display: inline-block;
      font-size: 1.125em;
    }
  }

  &--link {
    color: $secondaryColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: darken($secondaryColor, 5);
      text-decoration: underline;
    }
  }
}

.description {
  &__content {
    font-size: 1.5em;
    font-family: Nunito, sans-serif;
    line-height: 1.25;
  }
}

.gallery {
  width: 100%;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  @include mq($sm) {
    margin-top: 1em;
    grid-template-columns: 1fr;
  }

  &__figure {
    margin: 0;
    box-shadow: $boxShadow;
  }

  &__href {
    overflow: hidden;
    @include aspect-ratio("gallery__image", 15, 10);
  }

  &__image {
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
  }
}
