.skills {
  &__container {
    @extend %grid-rwd;
  }

  &__feature-box {
    padding: 1.5rem;
    box-shadow: $boxShadow;

    @include mq($md) {
      padding: 1rem;
    }
  }

  &__icon-container {
    @include flex(space-around);
  }

  &__heading {
    margin: 1rem 0;
    font-size: 1.25rem;
    text-align: center;
  }

  &__underscore {
    width: 20%;
    margin: 0 auto;
    background-color: $secondaryColor;
  }

  &__description {
    font-family: $secondaryFont;
    color: #6c757d;
    line-height: 1.4rem;
    font-size: 1.1rem;
    text-align: center;
  }
}
