.skills {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 3rem;
  }

  &__feature-box {
    padding: 1.5rem;
    box-shadow: $boxShadow;
  }

  &__icon-container {
    @include flex(space-around);
  }

  &__heading {
    margin: 1rem 0;
    font-size: 1.25rem;
    text-align: center;
  }

  &__underscore {
    width: 20%;
    margin: 0 auto;
    background-color: $secondaryColor;
  }

  &__description {
    font-family: "Open Sans", sans-serif;
  }
}