.skills {
  &__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;

    @include mq(1400px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mq($xl) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }

    @include mq($md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }

    @include mq(350px) {
      grid-template-columns: 1fr;
    }
  }

  &__article:not(:last-child) {
    padding-bottom: 64px;
  }

  &__heading {
    font-size: 1.8em;
    color: #041230;
  }

  &__feature-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 45px;
    box-shadow: $boxShadow;
    transition: $transition;

    &:hover {
      transform: translateY(-5px);
    }

    @include mq($md) {
      padding: 1rem;
    }
  }

  &__lang {
    margin: 18px 0 0;
    font-size: 22px;
    text-align: center;

    @include mq($sm) {
      font-size: 18px;
    }
  }
}
