//Main
$mainColor: #041230;
$secondaryColor: #ff7800;
$grey: #ddd;
$mainFont: Montserrat, sans-serif;
$secondaryFont: Nunito, sans-serif;
$iconSize: 20px;
$fontColor: white;
$sectionTitle: 3.5rem;
$sectionSubtitle: 1em;
$boxShadow: #aaa 0px 0px 17px;

//Breakpoints:
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;

//Icons
$iconContact: 30px;
$iconTestimonials: 40px;

//Nav
$navWidth: 300px;
$introImg: 250px;
$logoHeight: 250px;
$hamburgerItemHeight: 3px;

//About
$aboutInfoWidth: 70%;
$aboutInfoMinWidth: 550px;
$aboutSpaceBetweenHr: 30px;

//Skills
$skillsIcons: 55px;

//Portfolio
$portfolioTransition: all 0.15s ease-in-out;
$figcapSpacing: 2rem;

//Testimonials
$arrowPosition: -90px;
$paginationPosition: -50px;

//Contact
$contactBg: #f9f9f9;
$contactBorder: $grey solid 1px;
$underscoreHeight: 3px;
