//Main
$mainColor: #041230;
$secondaryColor: #ff7800;
$iconSize: 20px;
$fontColor: white;
$sectionTitle: 3.5rem;
$sectionSubtitle: 1em;

//Nav
$navWidth: 300px;
$introImg: 250px;
$logoHeight: 250px;

//About
$aboutInfoWidth: 70%;
$aboutInfoMinWidth: 550px;
$aboutSpaceBetweenHr: 30px;

//Portfolio
$portfolioTransition: all .15s ease-in-out;
$figcapSpacing: 2rem;

//Contact
$contactBg: #F9F9F9;
$contactPadding: 0 15px;
$contactBorder: #ddd solid 1px;
$underscoreHeight: 3px;