@import "variables";
@import "mixins";

.error404 {
  min-height: calc(100vh - 78px);
  padding: 100px 7%;
  @include flex();

  &__container {
    width: 100%;
    max-width: 1100px;
  }

  &__text {
    font-size: 2rem;
  }
}
